
.inputusername[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.inputpassword[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.buttonlogin{
  width: 100%;
  background-color: rgb(77, 163, 233);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.formsfondo {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.profwelcome{
  float:right;
  margin:11px;
  color: white;
  text-align:center;
}
.re{
  float:right;
  margin:8px;
  color: white;
  text-align:center;
}
.rechicca {
  width: 42px;
  height: 42px;
  background-color: rgb(52, 92, 124);
  animation-name: re;
  animation-duration: 3s;
  float:right;
  text-align:center;
  margin:3px;
  color: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  border-radius: 10px;
}
@keyframes re {
  0% {background-color: rgb(52, 92, 124)}
  100% {background-color: rgb(93, 215, 219)}
}

.with-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-right:5px;
}

.impform{
  width: 75%;
  margin: auto;
  text-align: center;
}

.topnav {
  background-color: 	rgb(52, 92, 124);
  overflow: hidden;
  border-radius: 10px;
  display: block;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: 	#1E90FF;
  color: white;
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
  }
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

div#hormenu li:hover ul
{
  display: block;
  position: absolute;
  z-index:1;
  width:150px;
  height: 60px;
  padding: 0;
  margin: 0 0 0 -1px;
  border:1px solid black;
  background: white;
}
div#hormenu li li { border:none; width:150px; }
div#hormenu li li a { padding:2px 2px 2px 10px; }

.tabella {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}

.tabella td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabella tr:nth-child(even){
  background-color: #f2f2f2;
}

.tabella tr:hover {
  background-color: #ddd;
}

.tabella th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(52, 92, 124);
  color: white;
}


