<html>
<!-- Studenti con a fianco scelta di inserimento dell'assenza con scelta tra A, E, U -->
<!-- A fianco bottone giustifica se assenza -->
<!-- Se entrata o uscita appare la casella con l'immissione dell'orario-->
  <head>
    <h1>Appello</h1>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>Studenti</th>
        <th>Tipologia</th>
        <th>Giustifica</th>
        <th>Orario E/U </th>
      </tr>
      <tr>
        <th>nomi studenti</th>
      </tr>
        <th>
          <select name="tipoAssenza" size="3">
            <option value="A">Assenza</option>
            <option value="E">Entrata</option>
            <option value="U">Uscita</option>
          </select>
        </th>
        <th>
          <button class="btn btn-secondary btn-block">Giustifica</button>
        </th>
        <th>
        <label>Orario:</label>
          <input type="time" name="Orario">
        </th>
      </tr>
    </table>
  </body>
</html>
