<!-- Studenti con a fianco scelta di inserimento dell'assenza con scelta tra A, E, U -->
<!-- A fianco bottone giustifica se assenza -->
<!-- Se entrata o uscita appare la casella con l'immissione dell'orario-->

<!-- https://www.w3schools.com/howto/howto_custom_select.asp-->
<h3>Seleziona lo studente</h3>
<div style="width:200px;">
	<select (ngModelChange)="onStudentSelection($event)" [(ngModel)]="selectedStudente" class="select">
    <option value=null>Seleziona uno studente</option>
    <option *ngFor="let studente of studenti" [ngValue]="studente">{{studente['Cognome']}} {{studente['Nome']}} </option>
  </select>
</div>
<br>
<div *ngIf="visuaForm">

	<div class="impform">
		<!--Inserire condizione di visione della form una volta scelto lo studente-->
		<form [formGroup]="formAssenza" (ngSubmit)="onSubmitAssenza(formAssenza.value)" class="jumbotron ng-valid">
			<h4>Inserisci assenza</h4>
			<br>
			<table style="width:75%" class="assenze">
				<tr>
					<th>Tipologia</th>
					<th>Data</th>
					<th>Orario E/U </th>
					<th>Concorrenza al calcolo </th>
					<th>Inserisci</th>
				</tr>
				<tr>
					<td>
						<select name="tipoAssenza" [formControl]="formAssenza.controls['tipoAssenza']" >
                  <option value="A">Assenza </option>
                  <option value="E">Entrata</option>
                  <option value="U">Uscita</option>
            </select>
					</td>
					<td>
						<input type="date" name="data" id="data" [formControl]="formAssenza.controls['data']" >
              </td>
					<td>
						<input type="time" name="orario" id="orario" [formControl]="formAssenza.controls['orario']" *ngIf="formAssenza.controls['tipoAssenza'].value != 'A'">
              </td>
					<td>
						<div class="checkbox">
							<input id="concorre" name="concorre" type="checkbox" [formControl]="formAssenza.controls['concorre']" (change)="toggleEditable($event)">
							<label for="concorre">  Concorre al calcolo</label>
						</div>
					</td>
					<td>
						<button class="btn btn-primary btn-block" type="submit">Inserisci assenza</button>
					</td>
			</table>
		</form>
	</div>
	<!--Tipo, Data, Concorre, Ora-->
	<div class="impform">
		<h4>Riepilogo assenze</h4>
		<table style="width:75%" class="assenze">
			<tr>
				<th>Data</th>
				<th>Tipologia</th>
				<th>Concorrenza al calcolo </th>
				<th>Ora</th>
				<th>Motivazione</th>
			</tr>
			<tr *ngFor="let assenza of assenze">
				<td>{{assenza.DataAssenza}}</td>
				<td>{{assenza.Tipo.replace('A', 'Assenza').replace('E', 'Entrata posticipata').replace('U', 'Uscita anticipata')}}
				</td>
				<td *ngIf="assenza.Concorre">Sì</td>
				<td *ngIf="!assenza.Concorre">No</td>
				<td *ngIf="assenza.Ora">{{assenza.Ora}}</td>
				<td *ngIf="!assenza.Ora"> - </td>
				<td *ngIf="assenza.Motivazione">{{assenza.Motivazione}}</td>
				<td *ngIf="!assenza.Motivazione">
					<button class="btn btn-secondary btn-block" (click) = "giustifica(assenza)">Giustifica</button>
				</td>
			</tr>
		</table>
		<br>
      </div>

		<div *ngIf="giustificaV" class="impform">
			<h1>Giustifica</h1>
			<form [formGroup]="formGiustifica" (ngSubmit)="onSubmitGiustifica(formGiustifica.value)"
				class="jumbotron ng-valid">
				<!--Motivazione-->
				<div class="form-group">
					<label for="Motivazione">Inserisci Motivazione</label><br>
					<input type="text" id="motivazione" name="motivazione" [formControl]="formGiustifica.controls['motivazione']" class="form-control">

					<div *ngIf="!formGiustifica.controls['motivazione'].valid" class="alert alert-danger">Motivazione
						non è valido</div>
					<div *ngIf="formGiustifica.controls['motivazione'].hasError('required')" class="alert alert-danger">
						Motivazione è richiesto
					</div>
				</div>
				<button class="btn btn-primary btn-block" type="submit" [disabled]="!formGiustifica.valid">Giustifica</button>
			</form>
		</div>
	</div>
