extends layout
block content
    br
    h1.impform Assenze dello studente

    .impform
        h2 Riepilogo assenze
        table.tabella(style='width:75%')
            tbody
            tr
                th Data
                th Tipologia
                th Concorrenza al calcolo 
                th Ora
                th Motivazione
    br
