extends layout
block content
    br
    h1.impform Comunicazioni per lo studente
    .impform
        h2 Riepilogo comunicazioni
            br
            each comunicazione in comunicazioni
                br
                .grid-container
                    .Title
                        h4 #{comunicazione.Titolo}
                    .Number
                        h4 #{comunicazione.CodiceCircolare}
                    .Text
                        h4 #{comunicazione.Testo}
                    br
                    br
    br
