extends layout
block content
    br
    h1.impform Comunicazioni per lo studente
    .impform
        h2 Riepilogo comunicazioni
        table.tabella(style='width:75%')
            tbody
            tr
                th Codice
                th Titolo
                th Testo
                th Destinatari
    br
