extends layout
block content
    br
    h1.impform Lezioni dello studente 
    .impform
        h2 Riepilogo lezioni
        table.tabella
            tbody
            tr
                th Materia
                th Data
                th Ora
                th Argomento
                th Compiti Assegnati
    br
