html
  head
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    

  body
    .impform
      h1 LOGIN STUDENTE
      form([formgroup]='myForm', (ngsubmit)='onSubmit()')
        .form-group
          label(for='username') Inserisci Username
          input#username.form-control(type='text', placeholder='username', name='username', [formcontrol]="myForm.controls['username']")
          .alert.alert-danger(*ngif="!myForm.controls['username'].valid") "username" non è valido
          .alert.alert-danger(*ngif="myForm.controls['username'].hasError('required')") "username" è richiesto
        br
        .form-group
          label(for='username') Inserisci Password
          input#password.form-control(type='password', placeholder='password', name='password', [formcontrol]="myForm.controls['password']")
          .alert.alert-danger(*ngif="!myForm.controls['password'].valid") "password" non è valido
          .alert.alert-danger(*ngif="myForm.controls['password'].hasError('required')") "password" è richiesto
        button.btn.btn-primary.btn-block(type='submit', [disabled]='!myForm.valid') Login
