extends layout
block content
    br
    h1.impform Note dello studente
    .impform
        h2 Riepilogo note
        table.tabella(style='width:75%')
            tbody
            tr
                th Tipologia nota
                th Data
                th Tipo penalità
                th Descrizione
    br
