extends layout
block content
    br
    h1.impform Voti dello studente
    .impform
        h2 Riepilogo Voti
        table.tabella
            tbody
            tr
                th Data
                th Tipologia
                th Descrizione 
                th Voto

