<html>

<head>
</head>

<body>
	<h1>Firma</h1>
	<form [formGroup]="formFirma" (ngSubmit)="onSubmitFirma()" class="jumbotron ng-valid">
		<!--Data, Ora, Argomento, CompitiAssegnati,-->
		<div class="form-group">
			<label for="text">Inserisci Data</label>
			<input type="date" id="data" name="data" [formControl]="formFirma.controls['data']" class="form-control">

			<div *ngIf="!formFirma.controls['data'].valid" class="alert alert-danger">Data non è valido</div>
			<div *ngIf="formFirma.controls['data'].hasError('required')" class="alert alert-danger">Data è
				richiesto
			</div>
		</div>


		<div class="form-group">
			<label for="Ora">Inserisci Ora</label>
			<input type="time" id="ora" name="ora" [formControl]="formFirma.controls['ora']" class="form-control">

			<div *ngIf="!formFirma.controls['ora'].valid" class="alert alert-danger">Ora non è valido</div>
			<div *ngIf="formFirma.controls['ora'].hasError('required')" class="alert alert-danger">Ora è
				richiesto
			</div>
		</div>

		<div class="form-group">
			<label for="Argomento">Inserisci Argomento</label>
			<input type="text" id="argomento" name="argomento" [formControl]="formFirma.controls['argomento']" class="form-control">

			<div *ngIf="!formFirma.controls['argomento'].valid" class="alert alert-danger">Argomento non è valido</div>
			<div *ngIf="formFirma.controls['argomento'].hasError('required')" class="alert alert-danger">Argomento è
				richiesto
			</div>
		</div>

		<div class="form-group">
			<label for="Compiti">Compiti Assegnati</label>
			<input type="text" id="compiti" name="compiti" [formControl]="formFirma.controls['compiti']" class="form-control">

			<div *ngIf="!formFirma.controls['compiti'].valid" class="alert alert-danger">Compiti non è valido</div>
			<div *ngIf="formFirma.controls['compiti'].hasError('required')" class="alert alert-danger">Compiti è
				richiesto
			</div>
		</div>
		<button class="btn btn-primary btn-block" type="submit" [disabled]="!formFirma.valid">Firma</button>
	</form>


</body>

</html>
