<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="impform">
  <h3>Firma</h3>
	<form [formGroup]="formFirma" (ngSubmit)="onSubmitFirma()" class="jumbotron ng-valid">
		<!--Data, Ora, Argomento, CompitiAssegnati,-->
		<div class="form-group">
			<label for="text">Inserisci Data</label>
			<input type="date" id="data" name="data" [formControl]="formFirma.controls['data']" class="form-control">

			<div *ngIf="!formFirma.controls['data'].valid" class="alert alert-danger">Data non è valido</div>
			<div *ngIf="formFirma.controls['data'].hasError('required')" class="alert alert-danger">Data è
				richiesto
			</div>
		</div>


		<div class="form-group">
			<label for="Ora">Inserisci Ora (1 a 7)</label>
			<input type="text" id="ora" name="ora" [formControl]="formFirma.controls['ora']" class="form-control">

			<div *ngIf="!formFirma.controls['ora'].valid" class="alert alert-danger">Ora non è valido</div>
			<div *ngIf="formFirma.controls['ora'].hasError('required')" class="alert alert-danger">Ora è
				richiesto
			</div>
		</div>

		<div class="form-group">
			<label for="Argomento">Inserisci Argomento</label>
			<input type="text" id="argomento" name="argomento" [formControl]="formFirma.controls['argomento']" class="form-control">

			<div *ngIf="!formFirma.controls['argomento'].valid" class="alert alert-danger">Argomento non è valido</div>
			<div *ngIf="formFirma.controls['argomento'].hasError('required')" class="alert alert-danger">Argomento è
				richiesto
			</div>
		</div>

		<div class="form-group">
			<label for="Compiti">Compiti Assegnati</label>
			<input type="text" id="compiti" name="compiti" [formControl]="formFirma.controls['compiti']" class="form-control">
		</div>
		<button class="btn btn-primary btn-block" type="submit" [disabled]="!formFirma.valid">Firma</button>
	</form>
  <div class ="impform">
    <h4>Riepilogo firme </h4>
    <table class="firme">
    <!--cf prof, codiceclasse, data, ora, argomento, compiti, codicemateria-->
      <tr>
        <th>Firma di:</th>
        <th>Classe<th>
        <th>Materia</th>
        <th>Data</th>
        <th>Ora</th>
        <th>Argomento</th>
        <th>Compiti Assegnati</th>
      </tr>
      <tr *ngFor="let firma of firme">
        <td>{{firma.CFProfessore}}</td>
        <td>{{firma.CodiceClasse}}</td>
        <td>{{firma.CodiceMateria}}</td>
        <td>{{firma.DataFirma}}</td>
        <td>{{firma.Ora}}</td>
        <td>{{firma.Argomento}}</td>
        <td *ngIf="firma.CompitiAssegnati">{{firma.CompitiAssegnati}}</td>
        <td *ngIf="!firma.CompitiAssegnati">-</td>
      </tr>
    </table>
		<br>
    </div>
</div>
