@import '~bootstrap/dist/css/bootstrap.min.css';
.start-button {
      background-color: #7ffe9f; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .stop-button {
      background-color: rgba(118, 146, 254, 0.69); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .cancel-button {
      background-color: #af7541; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .voti {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.voti td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.voti tr:nth-child(even){
  background-color: #f2f2f2;
}

.voti tr:hover {
  background-color: #ddd;
}

.voti th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(52, 92, 124);
  color: white;
}
