<!--Inserimento dei voti-->
<form [formGroup]="formVoto" (ngSubmit)="onSubmitVoto(formVoto.value)" class="jumbotron ng-valid">
    <table style="width:100%">
      <tr>
      <p>Tipologia voto</p>
      </tr>
      <th>
            <select name="tipoVoto" size="3" (change)="selectChangeHandler($event)">
              <option value=2>Recupero </option>
              <option value=0>Valore</option>
              <option value=1>Senza valore</option>
            </select>

          </th>
      <tr>

        <th>
        <p>inserisci voto</p>
         <input type="text" name="voto" id="voto" [formControl]="formVoto.controls['voto']" >
        </th>
        <th>
          <div class="wrapper">
            <input id="concorre" name="concorre" type="checkbox" value="concorre" (change)="toggleEditable($event)">
            <label for="concorre">Concorre al calcolo</label>
          </div>
        </th>
        <th>
          <button class="btn btn-secondary btn-block" type="submit">Inserisci voto</button>
        </th>
    </table>
</form>
