<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
	<!--Navbar-->
	<div class="topnav" *ngIf="profData.Corrispondenze">
		<a routerLink="/voti" routerLinkActive="active"><mat-icon class="with-icon">class</mat-icon>Voti</a>
		<a routerLink="/note" routerLinkActive="active"><mat-icon class="with-icon">note</mat-icon>Note</a>
		<a routerLink="/assenze" routerLinkActive="active"><mat-icon class="with-icon">brightness_auto</mat-icon> Assenze</a>
    <a routerLink="/firma" routerLinkActive="active"><mat-icon class="with-icon">edit</mat-icon>Firma</a>
    <a routerLink="/dirigente" routerLinkActive="active"><mat-icon class="with-icon">supervised_user_circle</mat-icon>Dirigente</a>
		<a routerLink="/prof" routerLinkActive="active"><mat-icon class="with-icon">person</mat-icon>Profilo</a>
    <div class="rechicca"><h2>RE</h2></div>

    <h3 class="profwelcome">Benvenuto {{profData.Nome}} {{profData.Cognome}}</h3>
    <select (ngModelChange)="onClassSelection($event)" [(ngModel)]="selectedClass" class="selectionclass">
      <option *ngFor="let corrispondenza of profData.Corrispondenze" [ngValue]="corrispondenza">{{corrispondenza.CodiceClasse}} - {{corrispondenza.Materia}}</option>
    </select>



	</div>
	<!--Login-->
	<app-login-component *ngIf="!profData.securedKey" (loginOk)="getDatiProf($event)"></app-login-component>
	<router-outlet *ngIf="profData.securedKey"></router-outlet>
</body>

</html>


