@import '~bootstrap/dist/css/bootstrap.min.css';
.impform{
  width: 75%;
  margin: auto;
  text-align: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(52, 92, 124);
  border-bottom: 16px solid rgb(52, 92, 124);
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.start-button {
      background-color: #7ffe9f; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .stop-button {
      background-color: rgba(118, 146, 254, 0.69); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .cancel-button {
      background-color: #af7541; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }


.istruzioni {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  float: left;
  overflow-x: scroll;
}

.istruzioni td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.istruzioni tr:nth-child(even){
  background-color: #f2f2f2;
}

.istruzioni tr:hover {
  background-color: #ddd;
}

.istruzioni th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(52, 92, 124);
  color: white;
}

.comando-manuale
{
    width: 75%;
    margin: 5px;
}